.background {
    background-color:  #2e7cf6;
    background-image: url(https://phoenixaerodrone.files.wordpress.com/2020/07/img_20191124_172536-1.jpg);
    height: 100%
}

.card {
    background-color: transparent !important;
    color: #fff;
    border: none;
    margin-top:  35%;
}

.btn[type = submit]{
    border-radius: 50px;
}
.btn-link {
    color: rgb(255, 255, 255);
}
h1{
    color: rgb(226, 212, 212);
}