.background {
    background-color: #2e7cf6;
    background-image: url(https://phoenixaerodrone.files.wordpress.com/2020/07/img_20191124_172619_bg-3.jpg);
    background-repeat:  no-repeat;
    background-position: left bottom;
    
    /* ;
    b */
}

/* .background-right{
    background-color: #2e7cf6;
    background-image: url(https://phoenixaerodrone.files.wordpress.com/2020/07/img_20191124_172536-1.jpg);
    
} */
.card {
    background-color: transparent;
    color: #fff;
}
.text-muted{
    color: #fff !important;
}
.btn[type=submit]{
    border-radius: 50px;
}
h1{
    color: #fff;
}